topology.debug.mode=false
run.local.mode=false
json.gz.path=/data/sdj/truthy-data/streamClustering/nonFiltered/partial/2014-08-29.5am600-3599s.json.gz
time.step.seconds=30
sliding.window.in.steps=20
start.tweet.time=2014-08-29T05:10:00
bootstrap.tweet.time=2014-08-29T05:00:00
bootstrap.cluster.info.path=/data/sdj/truthy-data/streamClustering/nonFiltered/results/2014-08-29.seq5am0-599s_30x20_fPy.clusters.gz
cluster.bolt.parallelism=3
cluster.bolt.batch.pms=2048
cluster.bolt.padding=0
outlier.cluster.id.base=50000
activemq.broker.uri=tcp://hn:61616?wireFormat.maxInactivityDuration=0&jms.useCompression=true
activemq.sync.topic=clusters.info.sync
final.results.path=/data/sdj/truthy-data/streamClustering/nonFiltered/results/2014-08-29.para5am600-3599s_1w3b2048pm_30x20_fPy.clusters
topology.num.workers=1
max.unack.msg.count=25000
acker.count=1
activemq.report.topic=processed.pm.report
sync.centroids.transfer.mode=delta
cluster.bolt.log.pms=2000
sync.coord.wait.seconds=0
activemq.elect.topic=representative.cbolt.elect
